@media screen and (max-width: 450px) {
  .big-box {
    width: 85%;
  }

  .input-town {
    width: 82%;
    font-size: 16px;
  }

  .btn-find {
    width: 40px;
    height: 40px;
  }

  .btn-find i {
    font-size: 22px;
  }

  .text-town {
    font-size: 24px;
  }

  .temp-min,
  .temp-max {
    font-size: 16px;
  }
}

@media screen and (max-width: 382px) {
  .text-town {
    font-size: 22px;
  }

  .temp {
    font-size: 22px;
  }

  .temp-min,
  .temp-max,
  .text-icon,
  .umidade {
    font-size: 15px;
  }
}
